body {
    background-image: url('./bg.avif');
    padding: 0;
    margin: 0;
}
.container {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 18px;
    font-family: 'Lexend', sans-serif;
}
.content {
    margin: 0 auto;
    height: 100vh;
    width: 60%;
    border-radius: 10px;
    border: solid 1px black;
    background-color: whitesmoke;
    filter: drop-shadow(1px 1px 6px black);
}
.header {
    background-color: aqua;
    height: 50px;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
    border-bottom: solid 1px black;
}
.header .right {
    border-radius: 0 10px 0 0;
}
.header .right div {
    font-size: 20px;
    padding: 5px 10px;
    height: calc(50px - 10px);
    line-height: calc(50px - 10px);
    text-align: center;
}
.personal-info {
    height: 100%;
    background-color: #eee;
    border-radius: 0 0 10px 10px;
}
.left {
    width: 33%;
    float: left;
    height: 100%;
    border-radius: 0 0 0 10px;
    border-right: solid 1px black;
}
.left div {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}
.right div {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}
.left .info {
    margin: 20px auto;
    margin-top: 0;
}
.left .info div:first-child {
    font-size: 30px;
}
.left img {
    padding: 10px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    top: -50px;
    animation: swing 10s ease forwards infinite;   
}
@keyframes swing {
    0% {transform: rotate(1deg);}
    20% {transform: rotate(40deg)}
    40% {transform: rotate(90deg)}
    60% {transform: rotate(150deg)}
    80% {transform: rotate(200deg)}
    100% {transform: rotate(360deg)}
}
.right {
    width: calc(67% - 2px);
    border-radius: 0 0 10px 0;
    float: right;
    height: 100%;
}

.card {
    border: solid 1px black;
    border-radius: 10px;
    margin: 17px auto!important;
}
.card-header {
    width: 100%!important;
    margin: 0!important;
    border-bottom: solid 1px black;
}
.card-header div{ display: inline-block;
    padding: 7px 0;
}
.card-header .card-left {
    width: 70%;
    font-size: 20px;
    font-weight: bold;
    border-right: solid 1px black;
    display: inline-block!important;
}
.card-header .card-right {
    border-right: none;
    font-weight: bold;
    width: calc(30% - 7px);
}
.card-content {
    width: 100%!important;
    padding: 10px 0;
}
.card-content div {
    text-align: justify;
}
.single-card {
    width: 100%!important;
    border: none!important;
}
.title {
    font-size: 25px;
    padding: 7px 0;
    font-weight: bold;
}
#song {
    position: relative;
    top: -70px;
}